.p-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-rigth{
    display: flex;
    flex-direction: column;
}
.p{
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 5px;
    height: 10vh;
    align-items: center;
}
.text-1{

}
.text-2{
    color: grey;
    font-size: 12px;
    margin-top: -3px;
}